@page "/edit-customer/{id:int}"

@rendermode InteractiveServer

@inject SolarTech.Data.SolarTechDbContext DbContext
@inject NavigationManager NavigationManager

<h3>EditCustomer</h3>

<EditForm Model="@customer" OnSubmit="HandleSubmit">

    <div class="form-group">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="customer.Name" />
    </div>

    <div class="form-group">
        <label>Email</label>
        <InputText class="form-control" @bind-Value="customer.Email" />
    </div>

    <div class="form-group">
        <label>Address</label>
        <InputText class="form-control" @bind-Value="customer.Address" />
    </div>


    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Update</button>
        <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
    </div>

</EditForm>

@code {

    [Parameter]
    public int id { get; set; }

    private Customer customer;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        customer = DbContext.Customers.Find(id);
    }

    private void HandleSubmit()
    {
        DbContext.Customers.Update(customer);
        DbContext.SaveChanges();
        NavigationManager.NavigateTo("/customers");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/customers");
    }
}
